

<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Major</th>
      <th>Courses</th>
      <th>Birthday</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.order('name').each_with_index do |student,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%=link_to student.name,student_path(student.id) %></td>
        <td><%= student.email %></td>
        <td><%= student.major %></td>
        <td>  
          <%if student.courses.empty?%>
              <h3>n/a</h3>
          <%else%>
            <% student.courses.each do |course|%>
              <%=course.name%>
            <%end%>  
          <%end%>
        </td>
        <td><%= student.birthday%></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% data = {}
Student.order('birthday').each do |birthdate|
  data[birthdate.birthday.year] = Student.where("birthday LIKE ?","%#{birthdate.birthday.year}%").count
  # data[birthdate.birthday.year] = Student.where("cast(strftime('%Y', birthday) as int) = ?", birthdate.birthday.year).count
end%>
<%= data%>
<%= column_chart(data)%>
<% y = {}
  Date::MONTHNAMES.each_with_index do |value,index|
    if index == 0 
    else
        y[value] = Student.where("cast(strftime('%m', birthday) as int) = ?", index).count
    end
  end
%>
<%=y%>
<%= column_chart(y)%>

<%= link_to 'New Student', new_student_path %>
